
body {
    background-color: rgb(47, 47, 47);
}

.container {
    color: rgb(13, 15, 114);
}

.gradient-background {
    background: linear-gradient(90deg, white, rgb(9, 9, 9));
}
#myname {
    font-family: "Raleway";
}

hr {
    padding-bottom: 10rem;
}

a {
    text-decoration: none;
}
.card {
    margin: 0 2rem;
}

.feature-icon {
    width: 3rem;
    height: 3rem;
    border-radius: 20%;
}

#mywork {
    background: linear-gradient(180deg, white, rgb(233, 231, 231));
    color: rgb(7, 7, 99);
}

.crd > p {
    border: 0.25rem solid rgb(178, 178, 178);
    padding: 2rem 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}
